[2016-09-12 09:39] agauniyal opened #1 "Error: connect ECONNREFUSED"
[code]

[2016-09-12 09:52] agauniyal commented on #1
On fresh start -

[code]

[2016-09-12 09:57] agauniyal commented on #1
works fine with vim ycm plugin :confused:

[2016-09-12 10:07] agauniyal commented on #1
okay solved, python3 was the source of problem since my `/usr/bin/python` points to python3 while `/usr/bin/python2` is actual python2 which ycm needs.

[2016-09-12 10:07] #1 closed, assigned to nobody

[2016-09-12 10:22] agauniyal opened #2 "Completions do not show up until manual invocation"
I've to press `ctrl + space` everytime while writing code, nothing like the gifs on readme works here.

**[DEMO](http://webm.land/media/RkWn.webm)**

[2016-09-12 10:31] richard1122 commented on #2
Currently only dot(.) is the trigger character of completion. I will make it configurable.

[2016-09-12 10:33] agauniyal commented on #2
@richard1122 `.` & `::` & `->` should be the defaults, don't you think?

[2016-09-12 10:35] richard1122 commented on #2
I agree.  :smile:

In fact more than one characters (like `::`) might cause completion not working. I'm still investigate why.

[2016-09-12 10:43] richard1122 commented on #2
I've published a new version.
Please have a try.

[2016-09-12 10:47] agauniyal commented on #2
@richard1122 yup works perfectly now :tada: . Would you be adding more features like FixIts and others provided by Ycm?

[2016-09-12 10:51] richard1122 commented on #2
@agauniyal I changed it to ['.', ':', '<', '"', '=', '/'] like https://github.com/Microsoft/vscode/blob/master/src/vs/languages/handlebars/common/handlebars.ts#L168.

[2016-09-12 10:52] richard1122 commented on #2
@agauniyal I will add fix it, Goto(declaration, definition etc) soon.

[2016-09-12 10:52] agauniyal commented on #2
Thankyou :smiley:

[2016-09-12 10:52] #2 closed, assigned to nobody

[2016-09-12 12:58] agauniyal opened #4 "turn off output panel unless required"
The output panel of `ycm-language-server` keeps popping even when we're writing some stuff and takes up quite an amount of window space. And it does contains information but which is only relevant for debugging the extension itself, so it should be off by default and only open if we want it.

[2016-09-12 14:37] richard1122 commented on #4
I guess I've turned off every debug output when production build.
I'll check it again.

[2016-09-12 14:38] agauniyal commented on #4
It occurs usually when I'm hovering and it cannot find it's type or including header files.

[2016-09-13 04:35] #4 closed, assigned to nobody

[2016-09-14 12:09] ghost opened #5 "Better Installation description"
I tried to get it to work but I couldn't make it. Also the instructions at ycmd did not help at all because I don't use vim and for windows there are so many vim references.

[2016-09-14 12:22] richard1122 commented on #5
I also developed and tested this extension on windows 10. It works the same as Linux.
For windows installation instruction, you may see this: https://github.com/Valloric/YouCompleteMe/blob/master/README.md#windows

The vim related part can easily be skipped.

Which means you clone ycmd, update submodules. Then follow the instructions to install dependencies and run `python install.py` with paramet

[2016-09-14 14:54] ghost commented on #5
I tried that but I always got the error message that the path is not correct

[2016-09-14 16:01] richard1122 commented on #5
What's the exact error message?
Did you set your ycmd and python correct?

[2016-09-14 19:57] romix opened #6 "Does it implement a Language Server Protocol server wrapping ycmd?"
This project looks awesome!

My understanding of how it works:
- It implements a Language Server Protocol as defined by Microsoft, RedHat & others.
- The server is just a wrapper, which delegates all real processing to YCMD.

It is a correct understanding?

Does it mean that it can be used with any Language Server Protocol client, e.g. Atom-based editors, Eclipse, etc?

[2016-09-14 20:00] romix commented on #6
If my understanding is correct, it kind of implements https://github.com/Valloric/ycmd/issues/593, which I asked for, though it does it in a somewhat different way, without changing the YCMD. I suggested to extends YCMD with a native LSP support.

[2016-09-14 20:08] romix opened #7 "Add a configuration possibility to use an already running version of YCMD"
It would be nice if one could optionally configure the tool to use an existing running version of YCMD.

It could be useful, if you use different editors using YCMD simultaneously, e.g. VIM, VSCode, etc. This way they can all use the same instance if YCMD instead of starting their own and wasting CPU & memory.

[2016-09-15 02:10] romix commented on #6
Or may be I misunderstood and it runs inside VSCode only? I.e. it is not really a server accepting JSON requests over HTTP? If this is the case, would it be difficult to make a stand-alone Language Server Protocol server out of it?

[2016-09-15 04:59] richard1122 commented on #7
Correctly we could not do it. Each ycmd instance is configured an unique HMAC key when startup.

[2016-09-15 04:59] #7 closed, assigned to nobody

[2016-09-15 05:07] richard1122 commented on #6
Yes.

You can see code at https://github.com/richard1122/vscode-youcompleteme/blob/master/server/src/server.ts#L13
The server part dependents on `vscode-languageserver`

I'm not sure what's the correct way to implement https://github.com/Microsoft/language-server-protocol on platform independent way.
Do you have any idea?

[2016-09-15 07:26] ghost commented on #5
[Ycm] Invalid ycm global extra config path
I only installed the tern-completer
my path is
"C:\Users\USERNAMER\vimfiles\bundle\YouCompleteMe\third_party\ycmd"

[2016-09-15 07:27] richard1122 commented on #5
That means you forget to specify the global extra config path. It's `ycmd.global_extra_config`
You can see: https://github.com/Valloric/YouCompleteMe/blob/master/README.md#the-gycm_global_ycm_extra_conf-option

[2016-09-15 07:29] ghost commented on #5
Where should it point at?
Is there any indicator that it works?

[2016-09-15 08:29] richard1122 commented on #5
I think it might not be an error. I'll fix it today. Due to you may not provide global conf file, just use your local's.

[2016-09-15 08:30] ghost commented on #5
I don't have a conf file at all I think.

[2016-09-15 08:32] richard1122 commented on #5
The conf file (.ycm_extra_conf.py) is needed by ycmd backend.
You can see explanation here: https://github.com/Valloric/YouCompleteMe/blob/master/README.md#c-family-semantic-completion

[2016-09-15 08:35] ghost commented on #5
I better stick to intellisense. This is way to complicated.

[2016-09-15 08:35] #5 closed, assigned to nobody

[2016-09-15 13:55] romix commented on #6
I looked at the source code link you provided. It has a comment "The connection uses Node's IPC as a transport".  So currently, it is only started from inside VSCode and cannot be used from outside, right?

If it would be possible to also use Node's HTTP transport and run the server on a standalone Node.JS server, outside of VSCode, then it could be used by other editors without a need to start VS

[2016-09-15 14:19] romix commented on #6
This link seems to be related: https://github.com/Microsoft/vscode-languageserver-node

Seems like the server can run on Node.JS outside of VScode....

[2016-09-16 15:14] romix opened #8 "Reporting errors about wrong configuration"
I experiment with this extension and I noticed that if I provide wrong paths in the config then it obviously does not work, but it does not produce any errors like "Cannot find YCMD" or something like this. Or may be these errors are produced but just cannot find them?

I think it would be useful.

[2016-09-17 02:24] agauniyal opened #9 "support completion of system header files"
**FEATURE REQUEST** -

Need the plugin to autocomplete system headers, like if I type `#include <` it should start providing suggestions for atleast the c++ standard headers.

[2016-09-17 05:09] #8 closed, assigned to nobody

[2016-09-17 05:47] richard1122 opened #10 "Kill ycm process when exit on windows."

[2016-09-17 05:48] richard1122 commented on #9
I agree it would be necessary. I'll test if ycmd could provide header completions.

[2016-09-17 14:39] richard1122 commented on #9
Ycmd already provided files. I missed it somehow.

[2016-09-17 14:46] #9 closed, assigned to nobody

[2016-09-20 04:40] agauniyal opened #11 "high memory usage"
Last time I checked, it was making my system unusable, took 19.4% memory alone. I had to turn it off since then.

[2016-09-20 04:45] agauniyal commented on #11
Also this message frequently appears, after which I've to restart vscode -

[code]

[2016-09-20 06:43] richard1122 commented on #11
Could you please update to newest version.

Then config ycmd.debug true  in your configuration .

Is there anything important?

[2016-09-20 06:44] richard1122 commented on #11
May related to https://github.com/richard1122/vscode-youcompleteme/issues/10.
Sometimes ycmd may not killed success.

[2016-09-20 07:43] agauniyal commented on #11
I've enabled the ycmd.debug conf to be true, and currently the plugin is eating about 24% memory. Where is the debug information present so I could post it here, I'm having slight difficulty finding them.

[2016-09-20 07:44] agauniyal commented on #11
Here is another error from console of developer tools -

[code]

[2016-09-20 11:11] richard1122 commented on #11
I guess the extension may not correctly killed ycmd server. Could you please list your running programs ( ps -ef on linux, task manager on windows). Check are there many python process. Those should be killed after vscode close. You may manually close those ycmd servers.

[2016-09-20 11:12] richard1122 commented on #11
You may found it in "Output".

Like:

![image](https://cloud.githubusercontent.com/assets/2534277/18668111/2439d914-7f66-11e6-94bd-892aaa35a376.png)

[2016-09-20 12:30] richard1122 commented on #11
I've released a newer version (1.0.20). May fixed this issue.

Could you please try it?

Thanks.

[2016-09-20 14:29] micbou commented on #10
You should use [the `/shutdown` handler](https://github.com/Valloric/ycmd/blob/master/ycmd/handlers.py#L228) instead of killing the process.

[2016-09-20 15:01] richard1122 commented on #10
@micbou Thanks, I'll implement it.

[2016-09-21 03:26] agauniyal commented on #11
I've updated it, the memory usage is above 25%. Here's the debug output -

https://gist.github.com/agauniyal/fe539966a0a1c32a6f0a73e01a3dd297

[2016-09-21 06:39] agauniyal commented on #11
I tried using vim and nvim and atom's autocomplete with my ycm installation. All of them are not crossing 3.5 - 4% of usage. This plugin starts out like that for some time, and then after a while it's suddenly at 19-20% of memory.

Would there any other information you would like to have. I'm willing to put some effort into solving this.

[2016-09-21 06:40] agauniyal commented on #11
I tried using vim and nvim and atom's autocomplete with my ycm installation. All of them are not crossing 3.5 - 4% of usage. This plugin starts out like that for some time, and then after a while it's suddenly at 19-20% + of memory.

Would there any other information you would like to have. I'm willing to put some effort into solving this.

[2016-09-21 06:49] agauniyal commented on #11
It increases dramatically whenever I hover over a variable to see it's type. Even if I'm hovering over a single var again and again, it's adding ~.5% each time 😮 .

Here's my ycm config -

[code]

[2016-09-21 06:53] richard1122 commented on #11
@agauniyal  Will it increase memory usage on Atom with GetType (hover on vscode) ?

https://github.com/Qusic/atom-youcompleteme#keymaps

This is the key binding of Atom version, GetType is Alt+y t

[2016-09-21 06:58] agauniyal commented on #11
@richard1122 yep that's it. around ~.3% on each call even with vim + ycm version. And I'm not even calling it on different variables, the same var. I should file an issue on ycmd repo.

Meanwhile, could you provide an config to disable this option? Please 😸

[2016-09-21 07:03] richard1122 commented on #11
@agauniyal This is very strange.. I've tested on my PC, after 1000 times GetType request, it only increased about 10MB memory usage. 😢

Ok, I'll add an config.

[2016-09-21 07:05] agauniyal commented on #11
I've the latest ycmd if that helps. And on my system.. 20% + means 800MB+ ...

Here's the repo I'm testing on (develop branch) -
https://github.com/agauniyal/isaac-core/tree/develop/

[2016-09-21 07:14] richard1122 commented on #6
I've read some code of vscode-languageserver-node server part, along with vscode-languageserver-protocol, it looks not difficult to implement an server.

Would you please talk with ycmd's developers to see if we can add language server protocol directly into ycmd server. And I'm glad to help.

I think this would be better rather than implement a separate server and then call ycmd.

[2016-09-21 07:23] richard1122 commented on #11
@agauniyal  I've released a newer version (1.0.21), now you can disable GetType temporarily.

[2016-09-21 07:25] richard1122 commented on #11
It looks like a ycmd related issue. I'll close it now.
Please reopen it anytime if you need any help from vscode extension.

[2016-09-21 07:25] #11 closed, assigned to nobody

[2016-09-21 14:10] richard1122 commented on #2
@agauniyal Hi, I've added QuickFix to the newest version. Could you please have a try? ..

[2016-09-21 14:13] romix commented on #6
Good to hear from you, @richard1122!

I totally agree with you. I've tried to convince ycmd's developers that adding the language server protocol directly to ycmd server would be much easier. Please see the discussion here: https://github.com/Valloric/ycmd/issues/593 and here: https://github.com/Valloric/ycmd/issues/515.

As you can see, it looks like they don't want to invest any effort into the

[2016-09-21 15:53] agauniyal commented on #2
Yep, it works great 👍 👍  Thankyou for adding this 😄

[2016-10-02 22:46] agauniyal opened #13 "Add support for GetTypeImprecise"
https://github.com/Valloric/ycmd/pull/609

GetType eats memory on complex project structures, see -
- https://github.com/richard1122/vscode-youcompleteme/issues/11
- https://github.com/Valloric/ycmd/issues/606

It would be nice if some option is available to change backend call for hover interaction from GetType to GetTypeImprecise.

[2016-10-11 18:59] agauniyal opened #14 "The ycm-language-server server crashed 5 times in the last 3 minutes"
[code]

Latest ycmd, works good with vim but crashes everytime with vscode 😕

[2016-10-19 06:46] agauniyal commented on #14
I've narrowed down this behaviour to opening a new vscode instance with already opened files from last session. For example if I've 5-6 cpp files opened from last session and I close and reopen vscode, those 5-6 files would be opened up in separate tabs and this plugin crashes.

[2016-10-19 06:46] agauniyal commented on #13
ping.

[2016-10-24 11:12] begend opened #15 "[killOnWindows error] { [Error: spawn wmic ENOENT]"
my vscode output as follow, 3ks:

[getInstance] ycm is restarting
[start] data: 50293,����W����ץ)�,[object Object]
[processData: {"filepath_completion_use_working_dir":0,"auto_trigger":1,"min_num_of_chars_for_completion":2,"min_num_identifier_candidate_chars":0,"semantic_triggers":{},"filetype_specific_completion_to_disable":{"gitcommit":1},"seed_identifiers_with_syntax":0,"collect_identifiers_

[2016-10-24 13:56] begend commented on #15
it seems that the option_file is non-existent。bug the ycmd server is alive.

[2016-10-24 14:03] begend opened #16 "it seems that the file encoding must be utf8. but my file encoding is gbk."
the ycmd will fail when json_dump

[2016-10-27 09:34] baoqingwutong opened #17 "why can not work on Ubuntu 16.04?"
I'm new user, want use it in vs code, but it not work.
I install python3.5.2, and build ycmd successfully, then set ycmd.path. I alos install C/C++ extension(microsoft).
like this, string.push_back() not found!
![2016-10-27 17-31-33](https://cloud.githubusercontent.com/assets/23095898/19762166/7011e71a-9c6b-11e6-9714-2de7c7cd9b17.png)

[2016-11-08 10:46] #13 closed, assigned to nobody

[2016-11-08 10:54] agauniyal commented on #17
Try turning off Microsoft C/C++ extension's autocomplete and then try..

[2016-11-08 11:22] richard1122 commented on #16
This may be limitation of ycmd. The vscode extension only send your raw content to ycmd.
Though I can convert it first, I believe convert it by yourself is better.

[2016-11-08 11:22] #16 closed, assigned to nobody

[2016-11-08 11:26] richard1122 commented on #17
If you turned off MS C/C++ extension and still now working. Please set `ycmd.debug` true in your configuration file to see if there are any log useful.

[2016-11-08 14:52] eedahl commented on #14
I have this problem too.

[2016-11-09 06:05] richard1122 commented on #14
I've tested many times and could not reproduce this problem. Could you provide more information?

[2016-11-09 06:13] richard1122 commented on #15
Looks like you're not using windows?

[2016-11-09 06:21] richard1122 commented on #15
I've updated a new version (1.0.24), could you please update to the newest version and try again?

[2016-11-09 06:23] #15 closed, assigned to nobody

[2016-11-09 10:13] agauniyal commented on #14
@richard1122 create some .hpp files and some .cpp files. The source files should include those header files. Keep them open in different tabs in vscode and then close the vscode window. Next time vscode opens up, it'll restore the tabs as they were opened before and plugin crashes.

[2016-11-14 13:01] richard1122 commented on #14
Hi, I tested on both VSCode and VSCode Insider Builds, both works fine.
I have two .hpp files, each of them with one class definition, five .cpp files include both .hpp.

[2016-11-19 09:06] zlhsmfj opened #19 "GoToDefinition feature not work"
While ms-vscode.cpptools installed, vscode uses "GoToDefinition" provided by that plugin.

[2016-11-24 12:54] zijianyue opened #20 "alt-L diagonostic doesn't work in a large project"
In a small project, diagonostic  works well. But in a large one it doesn't ,though "GetType with hover" and "code completion" and "GoToDefinition with ctrl+click " all works OK.
vs code 1.7.2, you-complete-me 1.0.24

[2016-12-05 03:10] lygstate opened #21 "can this choose different target for different platform？"

[2016-12-14 01:52] magengbin commented on #14
I have this problem too. win10

[2016-12-14 01:59] magengbin commented on #14
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: connect ECONNREFUSED 127.0.0.1:5092
    at Object.exports._errnoException (util.js:1026:11)
    at exports._exceptionWithHostPort (util.js:1049:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1081:14)
[Info  - 上午9:59:11] Connection to server got closed. Server will restart.
events.js:160
      throw er; // Unha

[2016-12-14 02:29] agauniyal commented on #14
I'm on linux so it clears down issue related to choice of OS.

[2016-12-20 08:07] zijianyue commented on #20
not an issue but a conf of ycmd server:
The default value of max_diagnostics_to_display is 30 in ycmd server, I set it to 3000 to resolve this issue.

[2016-12-20 08:07] #20 closed, assigned to nobody

[2017-01-08 17:48] SneWs commented on #14
Have this as well on both Linux and OS X. Works fine in Vim as mentioned before.
Could this issue be attributed to improper HMAC handling in the VSCode plugin @richard1122 ?

[2017-01-09 14:08] richard1122 commented on #21
Sorry I don't know what you exactly meaning?

This is a plugin for visual studio code. you can install this plugin on any platform with vscode.

But I've not tested on OSX yet.

[2017-01-17 21:59] jacobdufault opened #22 "Config options to disable all vscode providers except code completion"
I have another vscode extension which provides things like goto definition, type hover, etc, except code completion. Is it possible / would a PR be accepted / to add config options that disable these providers?

[2017-01-17 22:54] nicber opened #23 "Support launching ycmd inside a VM."
I'd like to be able to configure ycmd to be launched inside a VM automatically.
It would be very useful for developing inside a VM, such as those created by Vagrant.

It can be done, now, but it requires installing a copy of all dependencies in the host and it may not be
possible if the host and VM run OSs different enough (such as Windows and a Linux distro).

[2017-02-03 03:32] artines1 opened #24 "ycm fails with message 'Network failed'"
ycm-language-server always outputs following messages when I try to type. My vscode version is "January 2017 (version 1.9)"

[Error - 11:27:32 AM] Request textDocument/codeAction failed.
  Message: Request textDocument/codeAction failed with message: Network failed
  Code: -32603

[2017-02-04 07:39] agauniyal commented on #24
Yes same with me -

[code]

[2017-02-04 07:40] agauniyal commented on #22
@jacobdufault which extension btw?

[2017-02-04 07:42] jacobdufault commented on #22
It's a WIP project that integrates [rtags](https://github.com/Andersbakken/rtags). I plan on publishing it when I have it in a more polished state. Best part is that enables code lens and it actually works - problem is that it's a bit slow on large code bases (Chrome) but on smaller ones it works really nicely.

[2017-02-09 00:59] roederw commented on #24
This issue is resolved in the Insider version of VSCode. Version 1.10.0-insider (1.10.0-insider)

[2017-02-09 04:31] agauniyal commented on #24
@roederw if this a bug on vscode side then they should _atleast_ publish a minor release for this. It sometimes becomes annoying because the Output window keeps popping up and taking cursor control and we aren't able to type anything in the editor window.

[2017-02-09 04:32] agauniyal commented on #21
He probably meant cross-compilation target, which isn't handled by this plugin but the Microsoft C/C++ plugin.

[2017-02-09 05:02] richard1122 commented on #23
It's should be an feature of YCMD project rather than this plugin's.

It could be great if Ycmd provides an docker image or VM image.

[2017-02-09 05:02] #23 closed, assigned to nobody

[2017-02-09 05:17] roederw commented on #24
@agauniyal Nobody in their right mind would patch a large piece of software for a minor bug affecting an extension, like this. They have a ship cycle and the fix will be included with the next release. Use the Insider build if you want the fix. If not, wait for the official release and disable the extension.

[2017-02-09 05:18] lygstate commented on #21
yes that's what I mean

[2017-02-09 09:18] agauniyal commented on #21
@lygstate this plugin only provides autocompletion which will work for the machine you're developing at. For example, it won't complete `<unistd.h>` functions on windows because it simply isn't present.

[2017-02-09 09:21] agauniyal commented on #24
They've already published numerous fixes in minor releases earlier, right after they released a major version so this is absolutely possible. But I agree that some might wait for a month and disable the extension for now.

[2017-02-20 04:58] agauniyal commented on #14
I'll try to debug this and provide more information today.

[2017-02-20 06:33] agauniyal commented on #14
@richard1122 could you tell me how to build this plugin and start debugging. I went to server directory and debugged it, it says - `"outDir": "${workspaceRoot}/../client/server"` does not exist. I went to client directory and debugged it, again failed with some other errors..

This bug is very irritating since we need to restart vscode again and again and each time kill all the 5 ycmd processes it

[2017-02-20 07:06] richard1122 commented on #14
@agauniyal There're two part of this plugin: client and server.

First I suppose you are using vscode to build this.

1. Open both client and server folder with vscode.
1. Press `ctrl+b`  in both workspaces to start compiling and watching.
1. In client workspace, press F5 to start extension development workspace. This workspace will load the plugin you currently working on.

[2017-02-20 07:08] richard1122 commented on #14
@agauniyal
Here is a travis script to show how to build and package an extension.

https://github.com/richard1122/vscode-youcompleteme/blob/master/.travis.yml

[2017-02-20 07:44] agauniyal commented on #14
@richard1122  `Request evaluate was canceled because nodejs was unresponsive`, this occurred multiple times for me.. rest is working fine but idk why that bug happens..

**Edit** - Maybe I get it, this happens when vscode launches server and client at same time and client isn't ready to be yet connect with server. This is absolutely reproducible if you press F5 multiple times successively on serve

[2017-02-20 08:11] richard1122 commented on #14
@agauniyal I'm not sure whether this is what the problem is.

The plugin server is NOT launched by your server workspace. The plugin itself starts server wrapped in. This is done by vscode-language-server-node.

Current version of vscode-language-server-node sdk will not send any request until initialize finished. see [here](https://github.com/richard1122/vscode-youcompleteme/blob/master/client/sr

[2017-02-23 02:52] yjlintw opened #25 "config file won't load"
After I update the editor, YCM doesn't work anymore. Previously, a notification will pop out asking whether I want to load the config file.

VScode: Version 1.10.0-insider (1.10.0-insider)

Below is the debug message.
[code]

[2017-02-23 04:29] yjlintw commented on #25
It works fine on version 1.9.1.

[2017-02-24 20:39] tanis2000 commented on #24
@agauniyal I've been following your suggestion to use this extension and I happened to stumble upon this very same issue. Do you know what part of the extension is failing by any chance? I guess that this error might as well be due to the wrong usage of some of the VSCode API even though the insider build is working. It would be nice to be able to patch it on our own in the meanwhile

[2017-02-25 06:41] agauniyal commented on #24
@tanis2000 I'm also using the insiders build for now.

[2017-02-26 14:16] tanis2000 commented on #24
1.10.0-insider still has this very same bug. It looks like what broke 1.9 also affected the current 1.10 Insider build.

[2017-03-02 09:06] harryherold opened #26 "youcompleteme faled with autotools project"
I build a compilation database with bear for an autotools project and I get the following error:
[code]
The error occurs by clicking on function or variables.
Where can I get more information about the error?
Are there log files?

[2017-03-02 09:48] harryherold commented on #26
My  ``` .ycm_extra_conf.py``` was not loaded. Now it works!
How can i set automatic loading by each workspace?
I tried ```"ycmd.confirm_extra_conf": true``` in the ```.vscode/settings.json``` but this is not working.

[2017-03-02 09:53] harryherold commented on #26
Of course ```ycmd.confirm_extra_conf``` should be false.

[2017-03-02 09:53] #26 closed, assigned to nobody

[2017-03-02 18:49] harryherold opened #27 "No completion for system header"
There is no completion for functions(e.g.```perror```) of header(e.g. ```stdio.h```) in the system path(e.g. /usr/include).
Surprisingly, the completion works for C++ header.

[2017-03-05 08:54] agauniyal commented on #24
@tanis2000 did this get resolved for your when upgrading to Feb build of vscode? For me it didn't so @richard1122 could you take a look at this?

[2017-03-05 09:39] tanis2000 commented on #24
@agauniyal nope, I'm still experiencing this issue as well.

[2017-03-05 15:13] #10 closed, assigned to nobody

[2017-03-05 15:15] richard1122 commented on #27
Hi, I guess you need to add `/usr/include` to your ` .ycm_extra_conf.py` file.

Please see https://github.com/Valloric/YouCompleteMe for more details.

[2017-03-05 15:24] richard1122 commented on #24
@agauniyal @tanis2000 @roederw
Hi, I 've updated extension to version 1.0.26 and try to fix this issue.

Could you please update extension and see if there are any errors now?

Thanks!

[2017-03-05 15:48] richard1122 commented on #25
Hi, I 've updated v1.0.27 to fix this problem.

Could you please update extension?

Also please update ycmd version to see if this will happen again.

[2017-03-05 15:48] #25 closed, assigned to nobody

[2017-03-05 15:52] richard1122 commented on #19
I this currently there are nothing we can do to let our extension provide some feature rather than others.

May be it's just due to the extension installation order or others.

[2017-03-05 15:52] #19 closed, assigned to nobody

[2017-03-05 15:52] #17 closed, assigned to nobody

[2017-03-05 15:53] richard1122 commented on #21
I think there 's nothing we can do here due to this is not what ycmd provides.

[2017-03-05 15:53] #21 closed, assigned to nobody

[2017-03-05 16:46] agauniyal commented on #24
@richard1122
[code]

It still happens but now it's bit more clear to me, this happens in vim version of ycm too because it takes a while to parse each new buffer/file editor opens. The correct solution would be to not output them in Output panel(probably via a user config) otherwise the output pane just keeps opening randomly abrupting us from typing further code.

[2017-03-05 16:48] agauniyal commented on #24
For more info, try changing config of this plugin -
[code]

[2017-03-05 17:15] richard1122 commented on #24
@agauniyal Hi, I just released an version. Added a workaround of this issue currently.

I think we fixed this.  Please update the extension.

Thanks!!

[2017-03-05 17:41] agauniyal commented on #24
@richard1122 initial impressions are looking good, I'm using it for 10 mins and so far the bug hasn't shown up. I'll test a bit more and report back tomorrow but for now I guess you've fixed it 👍 . @tanis2000 could you test the latest release as well?

[2017-03-05 17:42] agauniyal commented on #22
@jacobdufault if you ever happen to release it please notify me :)

[2017-03-05 20:06] yjlintw commented on #25
It works fine so far after I update both ycmd and this extension. Thank you.

[2017-03-06 02:00] #24 closed, assigned to nobody

[2017-03-06 08:27] tanis2000 commented on #24
@agauniyal I confirm it's working fine for me as well.

[2017-03-06 12:44] Deilan opened #28 "`Invalid ycm path` error right after install & reload"
Got `[Ycm] Invalid ycm path` error right after the installation & reloading.

VS Code v.1.10.1.
Windows 8.1 x64.

![untitled](https://cloud.githubusercontent.com/assets/4777512/23610507/d4f42908-0283-11e7-94f3-b67cbf802a0f.png)

[2017-03-06 13:35] richard1122 commented on #28
please see [usage](https://github.com/richard1122/vscode-youcompleteme#usage) to config plugin and install ycmd.

[2017-03-06 13:35] #28 closed, assigned to nobody

[2017-03-07 07:31] harryherold commented on #27
I looked at my [.ycm_extra_conf.py](https://github.com/harryherold/configs/tree/master/ymc) but it stills looks fine and my config works with ymc in Vim.
I validated the completion with this small example:
[code]
Have you an idea what I can do?
Is there may be a debug log or something else?

Can you re-open the issue please?

[2017-03-07 07:51] richard1122 commented on #27
You may set ycmd.debug = true in your configuration to show all logs. Including all request and response between the extension and the ycmd server.

Which distribution and version are you currently working on? I would like to test this soon.

And please make sure you are using the latest ycmd and the extension version.

Thanks.

[2017-03-07 09:02] harryherold commented on #27
I am using Fedora 25, the newest ycmd + vscode-youcompleteme.

[2017-03-11 07:34] agauniyal commented on #14
@richard1122 Here are some more debug logs -

[code]

[2017-03-11 17:05] richard1122 commented on #14
@agauniyal I released 1.0.32 version just now. Add more logs and more exception handling.

Please hava a try!

[2017-03-11 17:10] richard1122 commented on #14
@agauniyal 1.0.33 just released...

[2017-03-13 05:14] agauniyal commented on #14
@richard1122 it's solved 😸 , I've tested your plugin for 2 days and finally it works as expected. I'll reopen if I encounter this in future but I'm gonna close this for now. Thanks for your swift support 👍

[2017-03-13 05:14] #14 closed, assigned to nobody

[2017-03-15 17:25] chaopeng commented on #22
It would be better that have switch for each provider caused I only want to turn off definition.

[2017-03-18 17:24] DuIslingr opened #29 "WSL version of YCM?"
Not really an issue but more of a question. Is it possible to setup ycm on WSL and call that version with this plugin?

[2017-03-20 06:34] richard1122 commented on #29
I'm not sure.
I think install ycmd into WSL is possible.
But it will use toolchains on linux, which means you cannot call any windows API and any other limitation may appear.

[2017-04-02 17:08] xdidi3r opened #30 "lint on the fly."
I do not know if on-the-fly checks can be made.
Your extension reduces my lot of work. Hope you can make it better!

[2017-04-07 09:23] pquodling opened #31 "PAth error message."
I have installed ycm but suspect something isn't right - I get an Error [Ycm] Invalid ycm path - I have googled this but not seen any other reports of this - I suspect something amiss in my setup - what should I be looking for.???

[2017-04-07 09:26] richard1122 commented on #31
please read configuration in readme https://github.com/richard1122/vscode-youcompleteme/blob/master/README.md

[2017-04-07 09:30] richard1122 commented on #30
Some problems may happen if the extension calls ycmd with lint request too many times. Like no completion result produced and so on.

I'm not sure whether there are any limitations of ycmd or just the bug in my plugin.

I'll continue to investigate this problem and try to add an option like this PR    https://github.com/richard1122/vscode-youcompleteme/pull/18

[2017-04-08 03:36] #31 closed, assigned to nobody

[2017-04-18 08:50] agauniyal opened #32 "High memory usage in vscode but not with vim"
Hi again,
I'm having trouble with simple code that makes use of boost libs, I expected it to take much memory than naive c++ code. When I use vim and ycm plugin, it take about 10% of my system memory which is expected, but when I use vscode and this plugin, it takes about 50% of my system memory on the same source file and doing same things. So the difference in memory consumption is about 5x in b

[2017-04-18 08:55] agauniyal commented on #32
And it's not this plugin's process that takes memory, its the ycm process itself. So it seems this plugin is sending some extra data to ycm process that vim plugin doesn't?

[2017-04-18 09:31] richard1122 commented on #32
I'm not sure.
I'm trying to make all API calls the same as what vim using.
Could you please provide more log and create an issue to YCMD project ?
I'm glad to offer any help.

[2017-04-18 09:41] agauniyal commented on #32
I don't think YCMD is the issue here because vim plugin works fine and takes ~10% memory. How to provide logs regarding this - do you need the debug logs? Maybe this plugin is requesting more data other than simple completion which vim plugin doesn't?

Let me explain it more clearly -

 - I open a cpp source file with vim, do `XYZ` changes in it. The peak memory is 10%-11%. I undo the `XYZ` change

[2017-04-18 10:43] richard1122 commented on #32
It might be very difficult for me to debug this problem due to I'm not familiar with YCMD server.
When I developing this extension, I tried to make this working the same as vim version with you complete me vim plugin source code.

[2017-04-18 10:46] agauniyal commented on #32
I know that vim plugin uses completion and lint, this plugin uses those 2 also. Is there anything else that this plugin uses by default? Also I'm using the `ycmd.use_imprecise_get_type: true`, but that shouldn't interfere right?

[2017-04-18 12:28] richard1122 commented on #32
I even don't know what really interfere this problem.
You may have a look at https://github.com/richard1122/vscode-youcompleteme/blob/master/server/src/ycm.ts from line 205 to 275 .

There are many kind of requests, some of them are documented, some are not.
Some api like `BufferVisit`, `CurrentIdentifierFinished`, `InsertLeave` are used because I want to make this extension the same as what VIM v

[2017-04-18 12:30] agauniyal commented on #32
Okay I'm opening a new issue in YCMD repo and link this issue there.

[2017-04-18 12:36] agauniyal commented on #32
Done here - https://github.com/Valloric/ycmd/issues/740

[2017-04-25 11:29] xchrdw opened #33 "read property 'forEach' of undefined when executing FixIt shortcut"
I tried to use the FixIt keyboard shortcut but I'm getting a "Cannot read property 'forEach' of undefined" warning.
Selecting and executing the FixIt with a mouse works fine.

I'm getting the following stacktrace:
`
Cannot read property 'forEach' of undefined: TypeError: Cannot read property 'forEach' of undefined
    at YcmFixItToChunkFiles (/.../.vscode/extensions/RichardHe.you-complete-me-1.0.3

[2017-04-26 13:11] morapet opened #34 "Connect ycm plugin to ycmd running on remote server"
Would it be possible to configure and use VSCode client to use/connect/run ycmd on remote server. (I have scenario where compilation tools are only available on remote build machines and editor should run on different machine)?

[2017-04-27 06:24] LinSHP opened #35 "Provide identifier completion result by YCM"
I installed the youcompleteme and complet configurations like setting "ycmd.path" and "ycmd.global_extra_config". But When I edit .c file..nothing happens.
Is there any other configurations I need to set?

PS:English is poor..sorry

[2017-04-28 06:17] richard1122 commented on #35
Could you set `ycmd.debug=true` in settings and have a look at logs?

PS Chinese is also OK.

[2017-04-28 06:19] richard1122 commented on #34
How do you edit remote file with local editor like VSCode ?

Are you using NFS or Windows file sharing ?

[2017-04-29 01:20] Glog78 opened #36 "No completition for typdefs ?"
Here is a small example ->

https://pastebin.com/17Kuwg71

hello:: doesn't bring up a completition even the the typedef is defined.
hello. does work even i need to do a compile (a save wasn't enough)

[2017-04-29 06:11] LinSHP commented on #35
我设置了ycmd.debug=true，但是不知道去哪里找log file。搜了下发现是输入:YcmDebugInfo，但是在哪里输呢

[2017-04-29 11:42] richard1122 commented on #35
![image](https://cloud.githubusercontent.com/assets/2534277/25555265/f970310e-2d13-11e7-86e8-089b40817eea.png)
在 vscode 里面打开输出面板，选择 ycm 插件的输出，就可以直接在 vscode 里面查看

[2017-04-29 11:46] LinSHP commented on #35
信息是这样的：

[onDidChangeConfiguration settings] {"ycmd":{"confirm_extra_conf":true,"debug":true,"enabled_languages":["cpp","c"],"global_extra_config":"/Users/linsp/Downloads/ycmd-master/ycmd/cpp/ycm/.ycm_extra_conf.py","path":"/Users/linsp/Downloads/ycmd-master/ycmd","python":"python","use_imprecise_get_type":false}}
[getInstance] ycm is restarting
[onDidOpen] file:///Users/linsp/Dropbox/hw8/hw.c
[ge

[2017-04-29 12:10] richard1122 commented on #35
可能需要继续写一下代码，试图做一下补全？

[2017-04-29 12:20] LinSHP commented on #35
![Uploading 屏幕快照 2017-04-29 20.16.59.png…]()
比如说我这个时候输maxLen，它不应该给我自动补全吗。但是什么也没发生？

[2017-04-29 12:23] LinSHP commented on #35
<img width="1059" alt="2017-04-29 20 16 59" src="https://cloud.githubusercontent.com/assets/19932215/25555463/90d4cdf2-2d19-11e7-9046-0b3fc3627090.png">

比如说我这个时候输maxLen，难道它不应该给我自动补全，或者一些提示什么的。但是什么也没发生？

[2017-04-29 12:49] richard1122 commented on #35
有些操作才能触发一些补全。比如说定义一个结构体，然后对 实例输入 . 调用成员变量的时候，你试试？

[2017-04-29 12:55] LinSHP commented on #35
是的，和你说的一样，结构体实例是可以补全成员变量的。
那么变量就不能自动补全吗，或者你有什么推荐的可以自动补全变量名的插件？
十分感谢

[2017-04-29 13:20] richard1122 commented on #35
这是目前 vscode 对补全插件的一些限制，需要用一些按键来触发补全，所以我就预先定义了包括 `.`  `->` 等等的几个。
我会看看是否有更好的方式来绕过这部分限制的。

[2017-04-29 13:22] LinSHP commented on #35
好的，非常感谢你的帮助！

[2017-04-29 13:26] richard1122 commented on #35
我打算修改一下这个 issue 的标题让它更符合问题一些，如果你觉得不合适请直接指出~

[2017-05-03 01:59] sweetim opened #37 "Autocompletion not working at VScode but in VIM"
I have problem with auto completion using VSCode, some cpp files the auto suggestion does not work at all, but when I tried it at VIM, there is no problem with the auto suggestion

May I know how can I help you to find this bug?
I have the debug log printed below..

[code]

[2017-05-03 02:12] sweetim commented on #37
and sometimes it works after i tried manually triggering the suggestion by inputting `Ctrl` + `Space`, after few times the suggestion will pop up..

and I tried the Atom editor plugin for you complete me, I dont have the problem mention above..
https://atom.io/packages/you-complete-me

[2017-05-22 13:42] pvaibhav opened #38 "Doesn't work for Objective-C"
It seems YCM expects the filetype to be `objc` but VScode sets the filetype to `objective-c`, causing code completion for ObjC files to fail, even if `ycmd.enabled_languages` is set (neither `objc` nor `objective-c` work).

[2017-05-26 05:54] richard1122 commented on #38
I'm not familiar with objective-c. Could you give me an code snippet for me to test?

Also will this work on fedora or Windows? I don't have a mac for test.

[2017-05-26 06:02] richard1122 commented on #36
Hi, I'm not very familiar with c++ shared_ptr class.
When I'm trying your code, there are some errors.
It says shared_ptr is not defined, and I 've added "#include <memory>"
And you should add an ; after class ups definition.

For the `hello::` completion.
I guess hello is an class instance, how could it produce any completion for `::` operator?
When I'm using `.`, it works fine:
![2017-05-26 14-0

[2017-05-26 06:03] #36 closed, assigned to nobody

[2017-05-26 06:08] richard1122 commented on #35
我确认了一下的确没法让 vscode 每次都调用补全的，如果需要的话你可以使用 ctrl + space 来让 vscode 强制进行补全。
https://github.com/Microsoft/vscode-tips-and-tricks#intellisense

[2017-05-26 06:08] #35 closed, assigned to nobody

[2017-05-26 06:08] richard1122 commented on #30
Finally I added lint on save option.

[2017-05-26 06:08] #30 closed, assigned to nobody

[2017-05-26 16:12] atlas1017 opened #39 "Any reason using getType instead of getDoc for onHover?"
It seems to me that the getDoc gives more detailed info about identifiers and getType sometimes returns useless msgs like "bound member function type".
Thanks!

[2017-05-28 21:14] pvaibhav commented on #38
@richard1122 objective-c is a superset of C, so you can just set the filetype of any C file in VScode as "Objective C" file type. Clang by default supports C/C++/ObjC/ObjC++ so it should work just fine also on Linux.

As soon as I change VScode filetype to ObjC, I don't get any kind of completion anymore (e.g. hovering over a symbol shows no type info). When I change back to C it works. The usual

[2017-05-28 21:36] pvaibhav commented on #38
@richard1122 I changed line 150 in ycmRequest.js to this:
[code]

just as a quick check. This actually worked:
![screen shot 2017-05-28 at 23 33 01](https://cloud.githubusercontent.com/assets/234072/26532337/34627df2-43fe-11e7-9d3e-738ee973691f.png)

and from ycmd log I can see filetype set to what Vim/YCM expects (`"filetypes":["objc"]`):
[code]

I guess there should be a mapping to convert VScod

[2017-05-31 08:18] trevordixon commented on #34
When I've needed this, I've either mounted the remote filesystem using sshfs, or I've had another copy of the code checked out locally. In either case, I just need to be able to configure the plugin to map local paths to remote ones and connect to ycmd on some particular address. A string->string map could be used to configure path mapping: `{'/local/path/to/src': '/remote/path/to/src'}`.

[2017-06-14 06:15] richard1122 commented on #39
Hi, I've tried GetDoc subcommand before and it always provides nothing. (both on Windows and Fedora)
Have you tried to call GetDoc and get some correct results?

Thanks!

[2017-06-14 15:54] shba24 opened #42 "No suggestions are shown"
I have been trying to make vscode-youcompleteme work for chromium code base, but its not even showing a single suggestion.
Here is the settings.json file I am using.

[code]

[2017-06-14 20:50] shba24 commented on #42
Here is the log I am getting again and again on windows.

[code]

Looks like ycmd doesn't work on windows, I guess.

[2017-06-15 07:26] richard1122 commented on #42
Hi, Ycmd is working on windows (also Windows is the platform I developed this extension on).

There might be some problems when ycmd is initializing:
[code]

But I don't know what exactly it is.

Have you tried some smaller project or very simple code to see if it works?

[2017-06-15 07:47] richard1122 commented on #38
fixed in https://github.com/richard1122/vscode-youcompleteme/commit/db7cba0d08297399874935cc036255414e6eb93d

[2017-06-15 07:48] richard1122 commented on #38
Hi, I've add support for objc and it works fine.

I will release a new version soon and please have a try.

Thanks!

[2017-06-15 07:48] #38 closed, assigned to nobody

[2017-06-15 15:07] shba24 commented on #42
Found the issue and stumbled into another one.

Above issue is because of this line https://github.com/richard1122/vscode-youcompleteme/blob/master/server/src/ycm.ts#L89 .

`let cmd = this.settings.ycmd.python`

Here cmd is `python` by default. So at line https://github.com/richard1122/vscode-youcompleteme/blob/master/server/src/ycm.ts#L110 , process spawned command line comes out as :

`""python"

[2017-06-15 15:10] shba24 commented on #42
Now, time for another issue which I am facing right now. On starting vscode, server and everything starts perfectly but after some time I get an error like this :
![jit_error](https://user-images.githubusercontent.com/5247562/27188089-b8600df8-520a-11e7-9ef3-8e2e47350ce7.PNG)

Can you help with this?

I did `python build.py --msvc 14 --clang-completer` to build ycmd.

[2017-06-15 15:37] richard1122 commented on #42
I think there are some issues with Ycmd or clang on Windows.

When I checkout the latest code of ycmd and build, It produces errors sometimes.

But It works fine about a month ago.

I guess they will fix these soon, Or maybe you could checkout the code few months ago and build it ?

[2017-06-15 16:15] shba24 commented on #42
Okay. If you could help me with the date of it last working, then it would be awesome.

[2017-06-19 08:14] morapet commented on #34
@richard1122 I have it same as @trevordixon mentioned, I use sshfs or another copy (git cloned repo locally - this is preferred). Source code exists on both sides, but only the remote side have libraries and binaries to do the compilation, also the mapping file for paths could be useful (but I can have it mounted locally I a same way as on the remote machine).

[2017-06-19 15:31] joelhock commented on #39
check out pull request 45, which uses getDoc when available (which is only when there is doxygen documentation for the function), then the signature info that accompanies the completion for the function (which is more useful than getType for member functions, but can't figure out which overload is being used), and then falls back to getType for other things.
https://github.com/richard1122/vscode-y

[2017-06-19 15:38] joelhock commented on #37
The extension doesn't return anything if a completion is asked for while the file is still being parsed (as you can see in the error 'Still parsing file, no completions yet.'). As you experienced, it eventually starts working when libclang has finished parsing the translation unit.  this vscode extension could do a better job waiting for the completion when getting that error message rather than g

[2017-06-21 09:49] pvaibhav commented on #38
Thank you for the fix! Might I also suggest adding a mapping of `objective-cpp` -> `objcpp`.

[2017-07-03 03:58] iperez319 commented on #42
From where did you get the log?

[2017-07-16 15:35] #32 closed, assigned to nobody

[2017-08-05 14:40] michaelHL commented on #35
@richard1122 插件 [C/C++ Clang Command Adapter](https://github.com/mitaki28/vscode-clang) 的补全比较完整(除了那些trigger比如 `.`, `::`, `>`，字母开头的结构名、函数名也能够提示)：
<p align="center">
      <img src="http://i.imgur.com/5VElIc5.png">
</p>

上面关于C/C++的插件仅 `C/C++ Clang Command Adapter` 一个.
但是vscode-ycm必须通过加上 `.` 才能「激活」这些功能：
<p align="center">
      <img src="http://i.imgur.com/cI7igKU.png">
</p>
上面的图片删除了前述插件并仅安装vscode-yc

[2017-08-05 15:02] michaelHL commented on #35
应该是ycmd的机制问题，它仅在特定的trigger之后触发
- [is c library function auto-completed?](https://github.com/Valloric/YouCompleteMe/issues/2062)
- [Why doesn't YouCompleteMe complete function paramters?](https://vi.stackexchange.com/questions/5734/why-doesnt-youcompleteme-complete-function-paramters)

哈哈我自言自语了！ 😄

[2017-09-12 09:20] uli2k opened #48 "ycm is unable to work, RuntimeError appears"
[_request] req.end called
[ycm stderr] 2017-09-12 12:07:31,165 - INFO - Received command request
Traceback (most recent call last):
  File "/usr/share/code/resources/app/extensions/RichardHe.you-complete-me-1.0.36/ycmd/third_party/bottle/bottle.py", line 861, in _handle
    return route.call(**args)
  File "/usr/share/code/resources/app/extensions/RichardHe.you-complete-me-1.0.36/ycmd/third_party/

[2017-11-01 16:30] ngmgit commented on #31
@pquodling  Iam using it on arch and installing `ncurses5-compat-lib` solved this issue for me.
But auto completion doesnt work properly yet. will make a separate issue for that.

[2017-12-03 04:47] psifertex opened #49 "extra_conf_globlist should use a preference"
Given that Valloric/YouCompleteMe#1918 is apparently biting me despite having `    "ycmd.confirm_extra_conf": true` set, it would be nice if `extra_conf_globlist` were also a user preference. I tested it locally and it worked fine, unfortunately the code in the released version looks pretty different from what's in the repo and I don't have the environment set up to build/test it, but the change i

[2018-03-02 22:34] thecoder138 opened #50 "cpp semantic suggestions don't always work in vscode, but work fine in vim"
I am using the same copy of ycm on vim and on vscode. Everything seem to be working fine on vim without any issues. But when working on vscode, the suggestions are flaky. One instance I get proper suggestions for members of a user defined type and the next no suggestion at all, that too on the same exact line? Is it that the pluging could be slow? But then vim has no issues at all.

I also have di

[2018-03-12 15:26] #50 closed, assigned to nobody

[2018-04-12 03:42] richard1122 commented on #48
Looks ycmd is not working well. Can you provide more information?

[2018-04-12 03:45] richard1122 commented on #42
@yoyomanyoyo87 Set `ycmd.debug` in your vscode preferences and view the output panel.

[2018-04-12 03:45] #42 closed, assigned to nobody

[2018-05-04 11:48] Yiklek opened #52 "can't complete when using global namespace declaration."
When I use global namespace,it can't list suggestions.
But YouCompleteMe works when I use gvim.
Both .ycm_extra_conf.py are same.
My system is Windows 10.

#### vscode
![image](https://user-images.githubusercontent.com/21033316/39626115-3f41360a-4fd3-11e8-8bd5-ee0c7d329d38.png)

#### gvim
![image](https://user-images.githubusercontent.com/21033316/39626190-81232ce0-4fd3-11e8-8864-7d9e60423aa6.png)

[2018-05-11 14:10] mmahimtura opened #53 "Allow the idle-seconds to be set for ycmd"
Hi,

Please allow the ability to set the idle-seconds command-line parameter for ycmd.

Thanks

[2018-05-16 07:26] richard1122 commented on #53
Hello,

Recently I've no time working on this project.

But PRs are welcome.

Thanks.

[2018-05-16 07:26] #53 closed, assigned to nobody

[2018-06-01 16:43] jgehrig opened #54 "VSCode fails to spawn ycmd (Windows)"
I just installed vscode-youcompleteme, and the plugin is having some trouble spawning the ycmd process. Autocomplete only works when I manually spawn ycmd from command prompt.

- I have YCMD working in vim: usual problems already resolved (building ycmd, ycm_extra_conf, etc)
- I have the VSCode (1.23.1) settings listed below
- AutoComplete does not work out of the box
- Manually spawning YCMD caus

[2018-06-21 05:03] richard1122 commented on #54
It seems like cmd.exe is not in PATH ?
Currently cmd is used to start new process (ycmd).

I'm not sure what happened here, maybe you can make sure cmd.exe is in `C:/windows/system32` and  this dir is in PATH?.

[2018-06-21 05:06] richard1122 commented on #52
Try using `ctrl + space` to trigger completion.

[2018-06-21 05:06] #52 closed, assigned to nobody

[2018-06-21 05:28] jgehrig commented on #54
Thanks for the response on this Richard!

I changed my settings to the following and everything seems to be working:
[code]

Looking closer at my first error log above (and knowing the conf fix) it appears `ycmd.python` forward slashes are not getting converted to backslashes? Notice the `"C:/Python36/python.exe"` in spawnargs.

Might the option `ycmd.python` need some additional slash handling co

[2018-06-21 05:56] richard1122 commented on #54
I previously thought forward slash and double back slashes are both working on windows.

But maybe it's not.

I 'll do some test and if it's not working for forward slashes, it should be fixed.

Thanks for your reply.

[2018-06-21 05:56] #54 closed, assigned to nobody

[2019-09-16 01:15] #48 closed, assigned to nobody

[2019-09-16 01:17] #39 closed, assigned to nobody

[2019-09-16 01:19] richard1122 commented on #34
https://code.visualstudio.com/docs/remote/remote-overview

MS implemented this.

[2019-09-16 01:19] #34 closed, assigned to nobody

[2019-09-16 01:19] #33 closed, assigned to nobody

[2019-09-16 01:19] richard1122 commented on #29
Please try https://code.visualstudio.com/docs/remote/remote-overview

[2019-09-16 01:19] #29 closed, assigned to nobody

[2019-09-16 01:20] #27 closed, assigned to nobody

[2019-09-16 01:26] richard1122 commented on #6
Looks they have no interest implementing lsp-server in ycmd.

[2019-09-16 01:26] #6 closed, assigned to nobody

[2019-10-03 10:04] richard1122 opened #57 "Support more subcommands"

[2019-10-14 01:44] richard1122 opened #58 "Support variables in configuration file"
Support variables like `workspaceFolder` in path like config

[2019-10-14 02:01] richard1122 commented on #58
https://github.com/microsoft/vscode-cpptools/blob/master/Extension/src/common.ts#L305
resolveVariables

[2019-10-31 02:21] hsnusonic opened #59 "[UriError]: Scheme is missing"
Hi,

I just installed this extension and got the error message as below.

[Error - 10:12:51 PM] Server initialization failed.
  Message: Request initialize failed with message: [UriError]: Scheme is missing: {scheme: "", authority: "", path: "null", query: "", fragment: ""}
  Code: -32603

How could I get more information to inspect why it can't be initialized?

VScode information:

Commit: 6ab598

[2019-11-02 01:47] richard1122 commented on #59
Can you set `ycmd.debug` to see if there are more logs?

Also what's the version of your vscode and extension?

[2019-11-04 16:45] hsnusonic commented on #59
Hi @richard1122 ,

I got the same message in "Output" after setting `ycmd.debug`.
The version is added in my post.

[2019-11-05 05:20] richard1122 commented on #59
@hsnusonic Hi, I can repro it sometimes.

I'll try to fix it these days.

Thanks.

[2019-11-21 14:28] vernon2gh opened #60 "Custom [go to definition] Shortcuts"
hello:
I have vscode-youcompleteme and vscode-gnu-global Plug，two plug-in [go to definition] is the same, It looks a bit confusing, So I want to customize the shortcuts vscode-youcompleteme [go to definition], What should I do?

thanks

[2019-11-22 00:52] richard1122 commented on #60
I think goto is a language server api. Not a command shortcut.

[2019-11-22 05:16] vernon2gh commented on #60
[go to definition] how to separate out into another name or command?

[2019-11-22 16:39] richard1122 commented on #60
Here's the code to find the definition, it only response with a location, and vscode will jump to.
https://github.com/richard1122/vscode-youcompleteme/blob/master/server/src/server.ts#L118

I'm not sure how to make extensions to jump to the file and location, but if you are willing to take some investigation, PR's are welcome.

[2019-11-27 08:26] #60 closed, assigned to nobody

[2020-01-13 18:20] shubham9411 opened #61 "Is there a way to convert vscode-YCM to monaco editor"
Hi I just wanted to check if this vscode extension can be converted to monaco editor plugin.
I already know that:

https://github.com/Microsoft/monaco-editor/issues/430#issuecomment-306870048

As above said one would need to build plugin for monaco is to implement it on top of monaco editor API. Is there a way that this extension can be converted as monaco editor compliant extension?
Thanks

[2020-01-16 02:08] richard1122 commented on #61
I'm not sure how monaco editor API works. It looks monaco editor supports LSP API.

So maybe it can work like vscode remote mode ?

[2020-01-23 12:40] btrepp opened #62 "500 error using rust"
Don't know enough about youcompleteme, but it seems the vscode extension is sending something it doesn't like?

[code]